<launch>   
    <!-- <arg name="filename"    default="poses_linear.yaml"/> -->
    <arg name="filename"    default="poses_circular_base.yaml"/>
    <arg name="target"      default="Goesser"/>
    <arg name="path"        default="$(find learn_object)/model/$(arg target)"/>
    <arg name="topic"       default="/target"/>

    <node name="$(anon poses_publisher)" type="publish_poses_node.py" pkg="helper" output="screen">
        <param name="filename"         value="$(arg path)/$(arg filename)"/>
        <param name="topic"            value="$(arg topic)"/>
    </node> 

</launch>

